[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
angr = "*"
archinfo = "*"
claripy = "*"
smoke-zephyr = "*"
ipdb = "*"
ipython = "*"
pyvex = "*"
boltons = "*"
tabulate = "*"
idalink = "==0.11"

[dev-packages]
